{% extends 'base.html' %} {% block content %}
<div class="container">
    <div class="panel panel-success bookings">
        <div class="panel-heading">
            <h3 class="panel-title">Booking Ref {{booking_no}}</h3>
        </div>
        <div class="panel-body">
            <div class="booking-main">
                <h5><span style="font-weight:bold">Memeber's reference:</span> {{booking.booking_member}}</h5>
                <p><span style="font-weight:bold">Booked on:</span> {{booking.date}}</p>
            </div>
            <hr class="hr-style">
            <div class="booking-tickets">
                <h4>Tickets</h4>
                {%for ticket in tickets%}
                <p>Ticket no. {{ticket.id}} - {{ticket.event.event_name}} with {{ticket.event.instructor}}</p>
                <p>Participant: {{ticket.first_name}} {{ticket.last_name}}</p>
                <br>{%endfor%}
            </div>
            <hr class="hr-style">
            <a href="{% url 'home' %}" class="btn btn-success">Home</a>
            <a href="{% url 'user_profile' %}" class="btn btn-success">My Account</a>
            
        </div>
    </div>
</div>


{% endblock %}
