{% extends 'base.html' %} {% block content %}

<div class="container">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">GroupClass Schedule </h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <p> All scheduled classes are free to subscribed members, no booking is required. </p>
                <p>* Weekend classes are available to non-subscription members (purchase/booking required)</p>
            </div>

            <div class="list-schedule">
                <p>Mondays</p>
                <ul style="list-style-type:disc">
                    <li>10:00 - Easy-Flow Yoga</li>
                    <li>12:00 - Spinning</li>
                    <li>15:30 - STEP</li>
                    <li>18:00 - Boxercise</li>
                    <li>19:00 - Power Yoga</li>
                </ul>
                <p>Tuesday</p>
                <ul style="list-style-type:disc">
                    <li>11:00 - Pilates</li>
                    <li>12:00 - Power Yoga</li>
                    <li>18:00 - Easy-Flow Yoga</li>
                    <li>19:00 - Spinning</li>
                </ul>
                <p>Wednesday</p>
                <ul style="list-style-type:disc">
                    <li>10:00 - Spinning</li>
                    <li>11:00 - Power Yoga</li>
                    <li>15:30 - Boxercise</li>
                    <li>18:00 - Step</li>
                    <li>19:00 - Pilates</li>
                </ul>
                <p>Thursday</p>
                <ul style="list-style-type:disc">
                    <li>15:30 - Pilates</li>
                    <li>16:30 - Spinning</li>
                    <li>18:00 - Step</li>
                    <li>19:00 - Easy-Flow Yoga</li>
                </ul>
                <p>Friday</p>
                <ul style="list-style-type:disc">
                    <li>10:00 - Easy-Flow Yoga</li>
                    <li>11:00 - Boxercise</li>
                    <li>12:00 - Pilates</li>
                    <li>16:30 - Power Yoga</li>
                    <li>18:00 - Step</li>
                    <li>19:00 - Spinning</li>
                </ul>
                <p>Saturday</p>
                <ul style="list-style-type:disc">
                    <li>11:00 - Power Yoga *</li>
                    <li>12:00 - Spinning </li>
                    <li>15:30 - Boxercise *</li>
                    <li>16:30 - Pilates *</li>
                    <li>19:00 - Easy-Flow Yoga</li>
                </ul>
                <p>Sunday</p>
                <ul style="list-style-type:disc">
                    <li>11:00 - Easy-Flow Yoga *</li>
                    <li>12:00 - Boxercise</li>
                    <li>15:30 - Pilates </li>
                    <li>16:30 - Spinning *</li>
                    <li>19:00 - Step *</li>
                </ul>

            </div>


            <div class="table-schedule">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr class="success">
                            <th>#</th>
                            <th>Monday</th>
                            <th>Tuesday</th>
                            <th>Wednesday</th>
                            <th>Thursday</th>
                            <th>Friday</th>
                            <th>Saturday</th>
                            <th>Sunday</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>10:00</td>
                            <td>Easy-Flow Yoga</td>
                            <td></td>
                            <td>Spinning</td>
                            <td>Easy-Flow Yoga</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="active">
                            <td>11:00</td>
                            <td></td>
                            <td>Pilates</td>
                            <td>Power Yoga</td>
                            <td></td>
                            <td>Boxercise</td>
                            <td>Power Yoga</td>
                            <td>Easy-Flow Yoga</td>
                        </tr>
                        <tr>
                            <td>12:00</td>
                            <td>Spinning</td>
                            <td>Power Yoga</td>
                            <td></td>
                            <td></td>
                            <td>Pilates</td>
                            <td>Spinning</td>
                            <td>Boxercise</td>
                        </tr>
                        <tr class="active">
                            <td>15:30</td>
                            <td>STEP</td>
                            <td></td>
                            <td>Boxercise</td>
                            <td>Pilates</td>
                            <td></td>
                            <td>Boxercise</td>
                            <td>Pilates</td>
                        </tr>
                        <tr>
                            <td>16:30</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Spinning</td>
                            <td>Power Yoga</td>
                            <td>Pilates</td>
                            <td>Spinning</td>
                        </tr>
                        <tr class="active">
                            <td>18:00</td>
                            <td>Boxercise</td>
                            <td>Easy-Flow Yoga</td>
                            <td>STEP</td>
                            <td>STEP</td>
                            <td>STEP</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>19:00</td>
                            <td>Power Yoga</td>
                            <td>Spinning</td>
                            <td>Pilates</td>
                            <td>Easy-Flow Yoga</td>
                            <td>Spinning</td>
                            <td>Easy-Flow Yoga</td>
                            <td>STEP</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}
