{% extends 'base.html' %} {% block content %}

<div class="container">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">GroupClass Schedule </h3>
        </div>
        <div class="panel-body">
            <div class="row">
            <p> All scheduled classes are free to subscribed members, no booking is required. </p>
            <p>* Weekend classes are available to non-subscription members (purchase/booking required)</p>
            </div>
            <table class="table table-striped table-hover ">
                <thead>
                    <tr class="success">
                        <th>#</th>
                        <th>Monday</th>
                        <th>Tuesday</th>
                        <th>Wednesday</th>
                        <th>Thursday</th>
                        <th>Friday</th>
                        <th>Saturday</th>
                        <th>Sunday</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>10:00</td>
                        <td>Easy-Flow Yoga</td>
                        <td></td>
                        <td>Spinning</td>
                        <td>Easy-Flow Yoga</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="active">
                        <td>11:00</td>
                        <td></td>
                        <td>Pilates</td>
                        <td>Power Yoga</td>
                        <td></td>
                        <td>Boxercise</td>
                        <td>Power Yoga</td>
                        <td>Easy-Flow Yoga</td>
                    </tr>
                    <tr>
                        <td>12:00</td>
                        <td>Spinning</td>
                        <td>Power Yoga</td>
                        <td></td>
                        <td></td>
                        <td>Pilates</td>
                        <td>Spinning</td>
                        <td>Boxercise</td>
                    </tr>
                    <tr class="active">
                        <td>15:30</td>
                        <td>STEP</td>
                        <td></td>
                        <td>Boxercise</td>
                        <td>Pilates</td>
                        <td></td>
                        <td>Boxercise</td>
                        <td>Pilates</td>
                    </tr>
                    <tr>
                        <td>16:30</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Spinning</td>
                        <td>Power Yoga</td>
                        <td>Pilates</td>
                        <td>Spinning</td>
                    </tr>
                    <tr class="active">
                        <td>18:00</td>
                        <td>Boxercise</td>
                        <td>Easy-Flow Yoga</td>
                        <td>STEP</td>
                        <td>STEP</td>
                        <td>STEP</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>19:00</td>
                        <td>Power Yoga</td>
                        <td>Spinning</td>
                        <td>Pilates</td>
                        <td>Easy-Flow Yoga</td>
                        <td>Spinning</td>
                        <td>Easy-Flow Yoga</td>
                        <td>STEP</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
