{% extends 'base.html' %} {% load crispy_forms_tags %} {% block content %}{% load staticfiles %}

<div class="container">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">Events & Classes </h3>
        </div>
        <div class="panel-body">
            <div class="row">
            <!--------------start carousel -------------->
                <div class="col-md-6">
                    <div id="carousel-events" class="slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                        <div class="carousel-inner events" role="listbox">
                            <div class="item active">
                                <img src="{% static 'media/images/team.jpg' %}" alt="one">
                                <div class="carousel-caption">
                                    Team
                                </div>
                            </div>
                            {% for event in events %}
                            <div class="item">
                                <img src="{{MEDIA_URL}}{{event.image}}" alt="event-image">
                                <div class="carousel-caption">
                                    {{event.event_name}}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
<!--------------end carousel -------------->
                <div class='col-md-6 events'>
                    <div class=" row events-intro">
                    <p>Lay-Z-Gym offers a variety of classes to all members and their guests. All classes are free of charge for subscribed members (no booking required) while non-subscription members can purchase a ClassPack through this website. We also have a number of Special Events for our members and guests however these must be reserved through our booking process. Please see below a list of classes and events that may be booked and purchased by following the appropriate links.</p>
                    
                    </div>
                        <div class=" row well">
                            <form>
                                <b>Search by </b> {{ filter.form }}
                                <button class="btn btn-default btn-sm" type="submit">GO</button>
                            </form>
                        </div>
                </div>
            </div>
            <hr class="hr-style">
            <div class="row">
                {% for event in filter.qs %}
                <div class="col-md-4">
                    <div class=" event-card">
                        <p><b>{{event.event_name}}</b></p>
                        {{event.category}}
                        <p> Starting on: {{event.date}}</p>
                        <a href="{% url 'event_details' event.id %}">Click here for More info</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
