{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title">{{event.event_name}} Details</h3>
    </div>
    <div class="panel-body">
      
<!-----------------start content ------------->
      <div class="row">
        <div class="col-md-6 event-image">
          <img class="card-img-top img-fluid" src="{{MEDIA_URL}}{{event.image}}" alt="{{event.event_name}}">
        </div>
        <div class="col-md-6">
          <h3>{{event.event_name}}</h3>
              
              <p class="card-text">{{event.description}}</p>
              <p> On: {{event.date}}</p>
              <p> Capacity: {{event.capacity}}</p>
              <p> Available: {{available}}</p>
        </div>
        
      </div>
      
<!----------------- variable details  ------------->


        
              <h4>€{{event.price}}</h4>
              
          {% if user.is_authenticated %}
            {% if user.profile %}
            <p> user authenticated and profile</p>

            <form action="{% url 'event_booking' %}">
              
              <input type="hidden" name="id" value="{{event.id}}"/>
              
              {% if can_book %}
              <p>Quantity: <input type="number" name="quantity" min="1" max="{{available}}"></p>
              <input class="btn btn-success" type="submit" value="Add to booking"/>
              {% else %}
              <a href="{%  url 'events_list' %}" class="btn btn-success" role="button">Fully Booked Back</a>
              {% endif %}
            </form>
          </div>
            {% else %}
            <p> user authenticated no profile</p>
            <div>
            <form action="{% url 'event_booking' %}">
              
              <a href="{% url 'add_profile' %}?next={{request.path}}" class="btn btn-success" role="button">please complete your profile</a>
              
            </form>
          </div>
            {% endif %}
          {% else %}
          <p>user not authenticated</p>
          <a href="{% url 'login' %}?next={% url 'event_details' event.id %}" class="btn btn-success" role="button">please log in for further options</a>
          {% endif %}

<!----------------- content ------------->
      
    </div>
  </div>
</div>

{% endblock %}