{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}


<div class="container events">
    
    <div class=" row events-intro">
        <p>Lay-Z-Gym offers a variety of classes to all members and their guests.  All classes are free of charge for subscribed members (no booking required) while non-subscription members can purchase a ClassPack through this website.  We also have a number of Special Events for our members and guests however these must be reserved through our booking process.  Please see below a list of classes and events that may be booked and purchased by following the appropriate links.</p>
    
    <form>
            {{ filter.form.as_p }}
             <button class="btn btn-default btn-sm" type="submit">GO</button>
    </form>
    
    </div>
    
    <hr class="hr-style">
    
    <div class="events-list">
        {% for event in filter.qs %}
        <div class="row">
              
            <div class="col-xs-12 col-sm-4 events-image">
                <img width="150" height="75" src="{{MEDIA_URL}}{{event.image}}" alt="event-image">
            </div>
            <div class="col-xs-12 col-sm-8">
                <h4>{{event.event_name}}</h4>
                {{event.theme}}
                <p> {{event.description | linebreaks}}</p>
                <p> Starting on: {{event.date}} </p>
                <a href="{% url 'event_details' event.id %}" class="btn btn-default btn-sm">More info/Book</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}