{% extends 'base.html' %} {% block content %}

<div class="row home-image">
    <img src="../static/media/images/boxing-B&W (1).jpg" height="470px" width="100%"></img>
    <div class="motiviation">
        <h1>It hurts now but <br> one day it will be <br><span style="color:#D34615">your warmup!!</span></h1>
    </div>
</div>

<div class="row home-parent">
    <div class="col-sm-12 col-md-4 home-col border">
        <img src="../static/media/images/membership.png" alt="subscriptions" height="75px" width="75px">
        <h4>subscriptions</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci incidunt hic ex nobis, voluptatem, sequi, quas quisquam numquam temporibus corporis veritatis aliquam officia quae accusantium nesciunt fugiat officiis rerum. Illo fugit eos ullam,
            labore ipsa harum, nemo dignissimos alias quia error voluptatum et, dicta expedita quisquam, maiores voluptates? Assumenda, culpa?</p>
        <a href="#" class="btn btn-secondary" role="button">subscriptions</a>
    </div>
    <div class="col-sm-12 col-md-4 home-col border">
        <img src="../static/media/images/calendar.png" alt="events" height="75px" width="75px">
        <h4>events</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci incidunt hic ex nobis, voluptatem, sequi, quas quisquam numquam temporibus corporis veritatis aliquam officia quae accusantium nesciunt fugiat officiis rerum. Illo fugit eos ullam,
            labore ipsa harum, nemo dignissimos alias quia error voluptatum et, dicta expedita quisquam, maiores voluptates? Assumenda, culpa?</p>
        <a href="{% url 'events_list' %}" class="btn btn-secondary" role="button">events</a>
    </div>
    <div class="col-sm-12 col-md-4 home-col">
        <img src="../static/media/images/runner-stick-man.png" alt="membership" height="75px" width="75px">
        <h4>about</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci incidunt hic ex nobis, voluptatem, sequi, quas quisquam numquam temporibus corporis veritatis aliquam officia quae accusantium nesciunt fugiat officiis rerum. Illo fugit eos ullam,
            labore ipsa harum, nemo dignissimos alias quia error voluptatum et, dicta expedita quisquam, maiores voluptates? Assumenda, culpa?</p>
        <a href="{% url 'events_list' %}" class="btn btn-secondary" role="button">about us</a>
    </div>
</div>


{% endblock %}
