body {
    padding-top: 60px;
    background-color: #f5f5f5;
}

/*---------navbar------------*/
.navbar {
    background-color: #149c82
}

.navbar-nav {
    width: 100%;
    text-align: center;
  }
.navbar-nav li {
      float: none;
      display: inline-block;
    }

/*---------home page------------*/

.home-image {
    position: relative;
    text-align: center;
    color: #fff;
}
.motiviation {
    position: absolute;
    top: 80px;
    left: 80px;
}

H1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 4em;
}

.home-parent {
    text-align: center;
    margin: 40px ;
}

.home-text {
    min-height: 220px;
}

.home-col {
    padding: 5px 40px;
}
    
.border {  
    border-right: solid;
    border-color: #149c82;
    border-width: thin;
}

/*---------sbuscriptions page------------*/
.topline {
    background-color: #18bc9c;
    height: 30px;
    color: #ffffff;
}
.membership img {
    border-radius: 5px;
    display: block;
    height: auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.subscriptions {
    border-radius: 5px;
    margin: 20px;
    padding: 15px;
    text-align: center;
    background-color: #f5f5f5;
    width: 430px;

}

.subscriptions ul {
    padding-left: 0px;
}


/*---------profile page------------*/
.panel {
    width: 90%;
    margin-left: 5%;
    margin-top: 20px;
}

.panel-body {
    padding: 30px 50px;
}

.profile-one {
    font-weight: bold;
    
}

.profile-two {
    font-weight: normal;
    
}

.profile-three {
    text-align: center;
}

.img-profile {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 20px;
}

.hr-style {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(20, 156, 130, 1), rgba(0, 0, 0, 0));
}


/*---------profile forms------------*/
.person-details input, select {
    height: 38px;
    width: 100%;
    padding: 8px 12px;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

