body {
    padding-top: 70px;
}

/*---------navbar------------*/
.navbar {
    margin-bottom: 0px;
}

.navbar-brand {
    height: 20px;
    padding-bottom: 5px;
}

.navbar-nav {
    width: 100%;
    text-align: center;
  }
.navbar-nav li {
      float: none;
      display: inline-block;
    }

/*---------home page------------*/

.home-image {
    position: relative;
    text-align: center;
    color: white;
}
.motiviation {
    position: absolute;
    top: 80px;
    left: 80px;
}

H1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 4em;
}

.home-parent {
    text-align: center;
    margin: 40px 50px;
}

.home-col {
    padding: 5px 40px;
}
    
.border {  
    border-right: solid;
    border-color: #e95420;
    border-width: thin;
}