{% extends "base.html" %} {% block title %}Password reset complete{% endblock %} {% block content %}

<div class="container">
    <div class="row">
        <div class="motiviation-logins">
            <h1>It hurts now but one day<br> it will be <span style="color:#149c82">your warmup!!</span></h1>
        </div>
    </div>

    <div class="well" id="custom-well">
        <p>Your password has been set. You may go ahead and log in now.</p>
        <p><a href="{{ login_url }}">Log in</a></p>
    </div>
</div>


{% endblock %}
