{% extends "base.html" %} {% load bootstrap_tags %}

{% block title %}Reset Password{% endblock %}

{% block content %}

<div class="container">
    <div class="well" id="custom-well">
            <form method="post" class="accountform">
                <p>Please specify your email address to receive instructions for resetting it.</p>
                <br> {% csrf_token %} {{ form | as_bootstrap }}

                <input type="submit" value="Reset password" /></p>
            </form>
    </div>
</div>

{% endblock %}
