{% extends "base.html" %} {% load bootstrap_tags %} {% block title %}Reset Password{% endblock %} {% block content %}
<div class="container">
    <div class="row">
        <div class="motiviation-logins">
            <h1>It hurts now but one day<br> it will be <span style="color:#149c82">your warmup!!</span></h1>
        </div>
    </div>

    <div class="well" id="custom-well">
        <div class="container">
            <form method="post" class="accountform">
                <p>Please specify your email address to receive instructions for resetting it.</p>
                <br> {% csrf_token %} {{ form | as_bootstrap }}

                <input type="submit" value="Reset password" /></p>
            </form>
        </div>
    </div>




    {% endblock %}
