{% extends 'base.html' %}
{% load bootstrap_tags %}
{% load static %}

{% block head_js %}
  {{ block.super }}
  <script src="https://js.stripe.com/v2/" type="text/javascript"></script>
  <script type="text/javascript">
      //<![CDATA[
      Stripe.publishableKey = '{{ publishable }}';
      //]]>
  </script>
  <script type="text/javascript" src="{% static 'payments/stripe.js' %}"></script>
{% endblock %}

{% block content %}

<h4>Please complete your Profile</h4>
<a href="{% url 'events_list' %}" class="btn btn-default">Complete Later</a>


<form role="role" id="payment-form" method="post" enctype="multipart/form-data">
        
        {% csrf_token %}
        
        {{ profile_form | as_bootstrap }}
        <hr>
        
        {{ card_form | as_bootstrap }}
        
        <p><input class="btn btn-primary" type="submit" value="Save"/></p>
        
    </form>


{% endblock %}