{% extends 'base.html' %}
{% load bootstrap_tags %}

{% block content %}

<form>
        {% if request.user.profile %}
                <p>{{request.user.profile.full_name}}</p>
                
                <p>{{request.user.profile.gender}}</p>
                <p>{{ request.user.profile.country }}</p>
                <p>membership no. {{ membership_no }}</p>
                <a href="{% url 'edit_profile' user.profile.id %}" class="btn btn-default">Edit Profile</a>
                
        {% else %}
                <p>Your profile is not yet complete, please click on the link below to complete your profile </p>
                <a href="{% url 'add_profile' %}" class="btn btn-default">Add Profile</a>
        {% endif%}
        
    </form>


{% endblock %}
