{% extends 'base.html' %} {% load bootstrap_tags %} {% block content %}

<div class="container">
        <div class="panel panel-success">
                <div class="panel-heading">
                        <h3 class="panel-title">Member Profile: {{ user.get_username }}</h3>
                </div>
                <div class="panel-body">
                        {% if request.user.profile %}
                        <div class="row account">
                                <h4>Member details:</h4>
                                <div class="col-sm-12 col-md-4 ">
                                        <img class="img-profile" src="{{MEDIA_URL}}{{request.user.profile.profile_image}}">
                                </div>
                                <div class="col-sm-12 col-md-8">
                                        <table class="table profile-user-details ">
                                                <tr>
                                                        <th>Full name:</th>
                                                        <td>{{ request.user.profile.first_name }} {{ request.user.profile.last_name }}</td>
                                                </tr>
                                                <tr>
                                                        <th>Membership No:</th>
                                                        <td>{{ membership_no }}</td>
                                                </tr>
                                                <tr>
                                                        <th>Gender:</th>
                                                        <td>{{ request.user.profile.gender }}</td>
                                                </tr>
                                                <tr>
                                                        <th>Address:</th>
                                                        <td>{{ request.user.profile.house_no }}, {{ request.user.profile.street_name }}<br>{{ request.user.profile.town_or_city }}<br>{{ request.user.profile.postcode }}<br>{{ request.user.profile.country }}</td>
                                                </tr>
                                        </table>
                                        <a href="{% url 'edit_profile' user.profile.id %}" class="btn btn-default pull-right">Edit Profile</a>

                                </div>
                        </div>
                        <hr class="hr-style">
                        <div class="row account">
                                <h4>Subscription details:</h4>
                                
                                <div class="col-sm-12 col-md-12 ">
                                {% if request.user.profile.subscription_id %}
                                        {%if subscription.status == "active" %}
                                        <table class="table profile-user-details ">
                                                <tr>
                                                        <th>Subscription:</th>
                                                        <td>{{subscription.plan.id}}</td>
                                                </tr>
                                                <tr>
                                                        <th>Status:</th>
                                                        <td>{% if cancelled_on == "not_applicable" %} Active {%else %}Cancelled on {{cancelled_on}} {%endif%}</td>
                                                </tr>
                                                <tr>
                                                        <th>Valid From:</th>
                                                        <td>{{start_date}}</td>
                                                </tr>
                                                <tr>
                                                        <th>Valid till:</th>
                                                        <td>{{end_date}}</td>
                                                </tr>
                                                <tr>
                                                        <th>Auto-Renew on expiry:</th>
                                                        <td>{% if subscription.cancel_at_period_end == False %}Yes {%else %}No{%endif%}</td>
                                                </tr>
                                                
                                        </table>
                                                {% if cancelled_on == "not_applicable" %}
                                                <a href="{% url 'unsubscribe' %}" class="btn btn-default pull-right">Cancel subscription</a>
                                                {% endif %}
                                        {% elif subscription.status == "canceled" %}
                                        <p>Your {{subscription.plan.id}} has expired.</p>
                                        <p>For further details on our subscription plans and subscribe, please go to our subscriptions page.</p>
                                        <a href="{% url 'subscriptions' %}"class="btn btn-default pull-right">Subscription</a>
                                        {% endif %}
                                {% else %}
                                <p>You don't currently have an active subscription. For further details on our subscription plans please go to our subscriptions page.</p> <a href="{% url 'subscriptions' %}"class="btn btn-default pull-right">Subscription</a>
                                {% endif %}
                                </div>
                        </div>
                        <hr class="hr-style">
                        
                        <div class="row account">
                                <h4>Booking History:</h4>
                                <div class="col-sm-12">
                                        {% if bookings %}
                                                {% for booking in bookings %}
                                                <p>Booking no. {{booking.id}} booking date: {{booking.date}}</p>
                                                <a href="{% url 'booking_details' booking.id %}">Click here for details</a>
                                                {% endfor %}
                                        {% else%} 
                                        <p>You have not yet booked any events or classes.  For a list of classes and events please go to our events page.</p>
                                        <a href="{% url 'events_list' %}"class="btn btn-default pull-right">Events</a>
                                        {%endif%}
                                </div>
                        </div>
                        <hr class="hr-style">
                        {% else %}
                        <p>You have not yet completed your profile, please click on the link below to complete your profile </p>
                        <a href="{% url 'add_profile' %}" class="btn btn-default">Add Profile</a>
                        {% endif%}

                </div>
        </div>
</div>

{% endblock %}
