{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  
<!-------------fonts & icons---------------->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  
  <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
  
<!-------------style & Layout ---------------->  
  <link href="https://stackpath.bootstrapcdn.com/bootswatch/3.3.7/united/bootstrap.min.css" rel="stylesheet" integrity="sha384-pVJelSCJ58Og1XDc2E95RVYHZDPb9AVyXsI8NoVpB2xmtxoZKJePbMfE4mlXw7BJ" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/style.css' %}"> 

<!-------------scripts---------------->
  {% block head_js %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  {% endblock %}

</head>

<body>

  <nav class="navbar navbar-default navbar-fixed-top " role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="{% url 'home' %}"><i class="fas fa-dumbbell"></i>  Lay-Z-gym  <i class="fas fa-dumbbell"></i></a>
      </div>

      <div class="collapse navbar-collapse" id="navbar">
        <ul class="nav navbar-nav">
          <li><a href="{% url 'home' %}">HOME</a></li>
          <li><a href="{% url 'subscriptions' %}">MEMBERSHIP</a></li>
          <li><a href="{% url 'events_list' %}">EVENTS</a></li>
          <li><a href="#">INSTRUCTORS</a></li>
          <li class="pull-right dropdown">
            {% if user.is_authenticated %}
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Hi {{ user.get_username }} <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
             
              <li><a href="{% url 'user_profile' %}"><i class="far fa-user"></i> Account</a></li>
              <li><a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Log Out</a></li>
              {% else %}
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Hello, Sign-in <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="{% url 'register' %}"><i class="fas fa-user-plus"></i> Register</a></li>
              <li><a href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i> Log In</a></li>
              {% endif %}
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  {% block home %} {% endblock %}
  
  <div class="container">
  {% block content %} {% endblock %}
  </div>
</body>

</html>
